<h1>BRRR</h1>

<div class="home-links">
  <%= link_to "SIGN IN", signin_path %>
  |
  <%= link_to "SIGN UP", new_user_path %>
</div>

<%= image_tag("thermometer3", id: "thermometer", size: "600x500") %>
