<h1>BRRR: <br> Are You Cold?</h1>

<div class="home-links">
  <%= link_to "SIGN IN", signin_path %>
  |
  <%= link_to "SIGN UP", new_user_path %>
</div>
<p>
  <%= image_tag("thermometer3", id: "thermometer", size: "600x500") %>
</p>
