<div class="container-grey">
  <h1>BRRR: <br> Are You Cold?</h1>

  <div class="home-links">
    <%= link_to "SIGN IN", signin_path %>
    |
    <%= link_to "SIGN UP", new_user_path %>
  </div>
  <p>
    <%= image_tag("https://pixabay.com/static/uploads/photo/2013/07/13/10/23/temperature-157127_960_720.png", id: "thermometer", size: "600x500") %>
  </p>
</div>
